# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on: [push, pull_request]
#
#  # Allows you to run this workflow manually from the Actions tab
#  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket: [7.4,7.5,7.6,7.7,7.8,7.9,current]
#        nasm: [2.13,2.14,2.15]
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get install nasm
    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.7
      with:
        architecture: 'x64'
        distribution: 'full'
        version: ${{ matrix.racket }}
    - name: Checkout
      uses: actions/checkout@main
      with:
        path: cpsc411-pub
    - name: Build lib
      run: |
        raco pkg install --batch --auto ./cpsc411-pub/cpsc411-lib
    - name: Test lib
      run: |
        raco test -p cpsc411-lib
        raco setup --only --pkgs cpsc411-lib
    - name: Build doc
      run: |
        raco pkg install --batch --auto ./cpsc411-pub/cpsc411-doc
    - name: Test doc
      run: |
        raco test -p cpsc411-doc
        raco setup --only --pkgs cpsc411-doc
